<div class="bg-black text-white md:p-[50px] p-[10px]" id="studies">
    <h2 class="md:text-5xl text-[2rem] tracking-[10px] font-bold text-center text-white uppercase">Mi Educación</h2>
    <span class='line'></span>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-[20px]">
        @for (item of studiesData; track $index) {
            <div class="border-2 border-solid border-[#eeeeee] rounded-[8px] p-5 font-bold">
                <p class="text-[#5bb462] text-base">{{ item?.Escuela }}</p>
                <p class="md:text-[20px] text-[15px] text-[#787878] my-4">{{ item?.Titulo }}</p>
                <p class="text-[#787878] text-base">De {{ item?.Inicio }} a {{ item?.Fin }}</p>
            </div>
        }
    </div>
</div>